@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* grid는 flex보다 나중에 나왔음
flex는 한방향 배치를 구현
grid는 두방향 배치를 구현 
두개를 다 안다면 알맞은 곳에 사용할 수 있음
전체 구성은 grid로 하고 부분구성은 flex로 하는 경우가 많음*/

.container {
    border: 2px solid #000;
    background-color: #ACB1D6;
    padding: 10px;
}

.item {
    border: 2px solid #000;
    background-color: #FFEAD2;
    padding: 10px;
}

/* justify-content - container의 넒이보다 item의 총 넓이가 작다면 item 통째로 정렬  */

.container {
    display: grid;   
    height: 100vh;
    justify-content: center;
    justify-content: start;
    justify-content: end;
    
}

.item {
    
}